.bottom-sheet-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    background: #00000080;
    z-index: 1000;
}

.bottom-sheet {
    width: 100%;
    max-width: 688px;
    background: #fff;
    padding: 24px;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(100%);
    animation: slide-up 0.4s ease-out forwards;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input-section {
    margin-bottom: 8px;
}

.bottom-sheet input {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: border 0.2s ease;
}

.bottom-sheet input:focus {
    border: 1px solid #0545FF;
}


.button-section {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.cta-button,
.close-button {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cta-button {
    background-color: #0545FF;
    color: white;
}

.close-button {
    background-color: #eee;
    color: var(--gray-1);
}

.bottom-sheet-overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #00000080;
    z-index: 1000;
}


@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}