.button-float {
    padding: 8px 16px;
    background-color: var(--gray-black);
    display: inline-flex;
    width: auto;
    border-radius: 24px;
    position: fixed;
    justify-content: center;
    left: 50%;
    /* 화면 왼쪽 기준으로 50% 이동 */
    transform: translateX(-50%);
    bottom: 32px;
    box-shadow: 0px 0px 16px #ffffff50;
    cursor: pointer;
    border: none;
}

.button-title {
    color: var(--white);
}