.name-box {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-direction: column;
}

.face-wrapper {
    background-color: var(--gray-5);
    width: 60px;
    height: 60px;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.animal-face img{
  width: 40px;
}
.rank {
    color: var(--gray-1);
  font-family: var(--24b-font-family);
  font-size: var(--24b-font-size);
  font-style: var(--24b-font-style);
  font-weight: var(--24b-font-weight);
}

.name {
    color: var(--gray-black);
  font-family: var(--16b-font-family);
  font-size: var(--16b-font-size);
  font-style: var(--16b-font-style);
  font-weight: var(--16b-font-weight);
}

.center {
     color: var(--gray-1);
  font-family: var(--12r-font-family);
  font-size: var(--12r-font-size);
  font-style: var(--12r-font-style);
  font-weight: var(--12r-font-weight);
}

.topOthers-box {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
    width: 60px;
    height: auto;
}